@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

/*-------------- 
   Common Css 
---------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 1160px;
    margin: auto;
}
img{
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}

/*-------------------
       Header 
--------------------*/
.header-section{
    background-color: #2d25a0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.half-width{
    width: 50%;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.navbar ul li{
    list-style: none;
}

/*------------------------
        Banner Section 
-------------------------*/
.banner-section{
    background-color: #2d25a0;
    padding: 50px;
}
.banner-part{
    display: flex;
    align-items: center;
}
.banner-info h1{
    color: white;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    margin: 35px 0;
}
.button-style{
    padding: 10px 24px;
    background: #E02C6D;
}
.button-style .singin{
    margin-right: 10px;
}
.button-style .watch{
    margin-left: 10px;
}
.button-style:hover{
    background: black;
    color: #E02C6D;
    transition: 2s;
}

/* Sliding */
.banner-info{
    transition: width 2s, height 2s, transform 2s;
}
.banner-info:hover{
    margin-top: 100px;
    transform: rotate(90deg);
}
@keyframes sliding{
    0%{
        background-color: #E02C6D;
        left: 0;
        top: 0;
    }
    /* 25%{
        bottom: 0;
        right: 0;
        background-color: white;
        transform: scale(.5);
    } */
    50%{
        bottom: 0;
        right: 0;
        background-color: magenta;
        transform: scale(0.5) rotate(360deg);
    }
    /* 75%{
        bottom: 0;
        right: 0;
        background-color: cyan;
        transform: scale(.5);
    } */
    100%{
        background-color: #2d25a0;
        left: 0px;
        top: 0;
    }
}
.banner-img img:hover{
    animation-play-state: running;
    animation: sliding 5s ease-in-out 0.5s infinite alternate forwards;
}

/*-------------------------
      Players Section 
--------------------------*/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 100px 20px;
}
.player{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
}
.player-info h3{
    font-size: 28px;
    font-weight: bold;
}
.player-info p{
    font-size: 16px;
}
.player-img{
    overflow: hidden;
}
.player-img img:hover{
    transform: scale(1.25);
    transition: 2s;
}

/*--------------------------
    Highlights Section
---------------------------*/
.highlights{
    display: flex;
}
.highlight-info h2, .score-board h2, .football-history h2{
    font-size: 48px;
}
.highlight-info p{
    margin-right: 100px;
    margin-bottom: 40px;
}

/*--------------------- 
      Score Board 
----------------------*/
.score-board{
    width: 900px;
    margin: 100px auto;
}
.score-board h2{
    text-align: center;
}
.score-1{
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.score-1>td{
    width: 50%;
    border: 1px solid #ddd;
    transition: 1s;
}
.score-1>td:hover{
    background-color: #0e130c;
    color: #edf0e1;
}
.score-1>td>table>tbody>tr>td{
    padding: 10px;
}

/*-------------------------- 
        Football History 
---------------------------*/
.football-history{
    text-align: center;
}
.football-history p{    
    padding: 20px;
    height: 90vh;
    overflow-y: scroll;
    text-align: justify;
    background-color: #eeeeee;
}

/*------------- 
     Footer  
--------------*/
footer{
    margin: 100px 0;
}
.footer-details{
    width: 500px;
    margin: auto;
    text-align: center;
}
.footer-details .foot-icon{
    margin: 20px 0;
}
.footer-details .foot-icon a i{
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background-color: #ddd;
    color: #969BAB;
    line-height: 2em;
}
.footer-details p{
    font-size: 18px;
    line-height: 24px;
}
.foot-icon a{
    margin: 5px ;
}
.foot-icon a i:hover{
    transform: scale(1.25);
    transition: 1s;
    background: #2d25a0;
    color: white;
}



/*-----------------------
      Media Query 
-----------------------*/
/* Mobile Device */
@media screen and (max-width: 767px) {
    .container{
        max-width: 320px;
    }
    nav{
        display: none;
    }
    /* banner section */
    .banner-section{
        padding: 0;
    }
    .banner-part{
        flex-direction: column;
    }
    .banner-info h1{
    margin-top: 50px;
        font-size: 36px;
        line-height: 50px;
    }
    .banner-img{
        padding: 50px 20px;
    }
    .half-width{
        width: auto;
    }

    .players{
        grid-template-columns: 1fr;
    }
    /* highlight section */
    .highlights{
        flex-direction: column;
    }
    .highlight-info p{
        margin-right: 0;
    }
    .highlight-info, .highlight-img{
        padding: 20px;
    }
    /* score-board section  */
    .score-board h2, .football-history h2, .highlights h2{
        font-size: 30px;
    }
    .score-board, .score-1{
        width: 300px;
    }
    .score-1{
        flex-direction: column;
    }
    .score-1>td{
        width: auto;
    }
    .score-1>td>table>tbody>tr>td{
        padding: 0;
    }
    /* footer section */
    footer{
    }
    .footer-details{
        width: 300px;
    }
}

/* Tblet Device */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    nav{
        flex-direction: column;
    }
    .navbar ul li{
        padding: 10px;
    }
    .container{
        width: auto;
    }
    .banner-part{
        flex-direction: column;
    }
    .banner-img{
        padding: 50px 0 0 100px;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .score-1{
        flex-direction: column;
    }
    .score-1{
        width: 768px;
    }
    .score-1>td{
        margin: auto;
    }
    .highlights{
        padding: 10px;
        align-items: flex-end;
    }
    .highlight-info h2{
        font-size: 2em;
    }
    .half-width{
        width: auto;
    }
}

/* Laptop Device */
/* @media screen and (min-width: 1024px) {
    
} */