@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

/*-------------- 
   Common Css 
---------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 1160px;
    margin: auto;
}
img{
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}

/*-------------------
       Header 
--------------------*/
header{
    background-color: #2d25a0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.width{
    width: 50%;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.navbar ul li{
    list-style: none;
}

.banner-part{
    display: flex;
    height: 100vh;
    align-items: center;
}
.banner-info h1{
    color: white;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    margin: 20px 0;
}
.button-style{
    padding: 10px 24px;
    background: #E02C6D;
}
.button-style .singin{
    margin-right: 10px;
}
.button-style .watch{
    margin-left: 10px;
}